body {
    background: #111;
    color: #0f0;
    font-family: monospace;
    padding: 10px;
}

input, button {
    padding: 8px;
    margin: 5px;
}

#log {
    background: black;
    height: 300px;
    overflow: auto;
    padding: 10px;
    border: 1px solid #333;
}